{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}

{% block content %}
    <section class="site-section py-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mb-4">Latest Posts</h2>
            </div>
          </div>
          <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
              <div class="row">
                {% if searchquery %}
                    <h2>Posts containing "{{ searchquery }}"</h2>
                    {% if not posts %}
                        <p>0 posts found</p>
                    {% endif %}
                {% endif %}
                {% if tag %}
                    <h2>Posts tagged with "{{ tag.name }}"</h2>
                {% endif %}
                {% for post in posts %}
                    <div class="col-md-6">
                      <a href="{{ post.get_absolute_url }}" class="blog-entry element-animate fadeIn element-animated" data-animate-effect="fadeIn">
                        <img src="{% if post.image %}{{ post.image.url }}{% else %}images/person_1.jpg{% endif %}" alt="Image placeholder">
                        <div class="blog-content-body">
                          <div class="post-meta">
                            <span class="author mr-2">{{ post.author }}</span>•
                            <span class="mr-2">{{ post.publish }}</span> •
                            <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comments.all.count }}</span>
                          </div>
                          <h2>{{ post.title }}</h2>
                        </div>
                      </a>
                    </div>
                  {% endfor %}

              </div>

                {% include "pagination.html" with page=posts %}

            </div>

            <!-- END main-content -->
              <div class="col-md-12 col-lg-4 sidebar">
                  <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                      <div class="form-group">
                        <span class="icon fa fa-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                      </div>
                    </form>
                  </div>
                  <!-- END sidebar-box -->
                  <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                      <ul>
                          {% get_most_commented_posts as most_commented_post %}
                                {% for post in most_commented_post %}
                                    <li>
                                      <a href="{{ post.get_absolute_url }}">
                                        <img src="{% if post.image %}{{ post.image.url }}{% else %}images/person_1.jpg{% endif %}" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                          <h4>{{ post.title }}</h4>
                                          <div class="post-meta">
                                            <span class="mr-2">{{ post.publish }}</span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- END sidebar-box -->

                </div>
                    <!-- END sidebar -->

          </div>
        </div>
      </section>
{% endblock %}